@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* for now since the add-ons have no RTL locales, force LTR direction in the preferences pane,
   this needs to be changed to a more dynamic approach if/when any RTL localizations are included */
page { direction: ltr; }

.header,
caption {
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

/* for checkboxes displayed horizontally */
.smallindent {
	-moz-margin-end: 14px;
}
groupbox label.smallindent {
	-moz-margin-end: 14px !important;
}

/* nodes that aren't visible but should still occupy their space in the layout */
[invisible="true"] { visibility: hidden; }

/* make sure any disabled box, node, link, text, selector or whatever doesn't have any interaction */
[disabled="true"] {
	pointer-events: none;
	-moz-user-focus: ignore;
}

/* trick to get colorpickers to work in in-content preferences */
colorpicker * {
	-moz-user-select: none;
}
