@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

#findbartweak-findInTabs-box {
	min-height: 20px;
}

findbar:not([hideLabels]) .findbar-tabs image {
	display: none;
}

.findbar-tabs image {
	background: none;
	border: none;
}

.findInTabs-list {
	min-width: 30px;
	height: 100%;
	padding: 3px;
	overflow: hidden;
}

.findInTabs-list listheader {
	-moz-appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	pointer-events: none;
}

.findInTabs-list listheader .hitsHeader {
	text-align: center;
}

.findInTabs-list listheader image {
	display: none;
}

.findInTabs-list image {
	min-width: 16px;
	max-height: 16px;
	-moz-margin-start: 1px;
}

#findbartweak-findInTabs-tabs label[unloaded] {
	font-style: italic;
	color: rgb(204,0,0);
	text-shadow: 0px 0px 9px white, 0px 0px 9px white, 0px 1px 0px rgba(255, 255, 255, 0.3);
}

window:not([FITSidebar]) #findbartweak-findInTabs-splitter {
	margin-top: 26px;
	margin-bottom: 5px;
}

#findbartweak-findInTabs-filterBox {
	width: 16px;
	margin-top: 5px;
	margin-left: -5px;
	margin-right: -11px;
}

#findbartweak-findInTabs-filter {
	list-style-image: url("chrome://findbartweak/skin/findintabs.png");
	-moz-image-region: rect(0px 48px 16px 32px);
	opacity: 0.7;
	transition: opacity .1s;
}

#findbartweak-findInTabs-filter:hover,
#findbartweak-findInTabs-filter[active]:hover {
	opacity: 1;
	cursor: pointer;
}

#findbartweak-findInTabs-filter[active] {
	opacity: 0.85;
	-moz-image-region: rect(16px 48px 32px 32px);
}

#findbartweak-findInTabs-hits richlistitem {
	display: block;
	padding: 2px 5px;
	cursor: default;
}

#findbartweak-findInTabs-hits richlistitem:not(:first-child) {
	border-top: 1px solid ThreeDShadow;
}

#findbartweak-findInTabs-hits richlistitem[unloaded] {
	text-align: center;
	cursor: pointer;
}

/* Some personas add a shadow to the entries */
.findInTabs-list label:not([unloaded]) {
	text-shadow: none;
}

html|span.findInTabs-match {
	cursor: pointer;
}

html|div.findInTabs-match-container {
	display: flex;
}

html|div.findInTabs-match-flex {
	flex: 1 1 auto;
	min-width: 2em;
}

/* these aren't needed in the FIT standalone window */
.findInTabs-bar toolbarbutton[anonid="find-next"],
.findInTabs-bar toolbarbutton[anonid="find-previous"],
.findInTabs-bar toolbarbutton[anonid="find-closebutton"],
.findInTabs-bar toolbarbutton[anonid="highlight"],
.findInTabs-bar label[anonid="match-case-status"],
.findInTabs-bar label[anonid="found-matches"],
.findInTabs-bar description[anonid="find-status"] {
	display: none;
}

.findInTabs-bar,
.findInTabs-bar[hidden] {
	transition: none;
}

/* Original binding has many handlers that don't work when the findbar has no browser associated */
.findInTabs-bar textbox {
	-moz-binding: url("chrome://findbartweak/content/FITbinding.xbl#FIT-textbox");
}

/* FIT sidebar */

window[FITSidebar] .findInTabs-bar hbox[anonid="findbar-textbox-wrapper"],
window[FITSidebar] .findInTabs-bar toolbarbutton[anonid="find-case-sensitive"],
window[FITSidebar] #findbartweak-findInTabs-filterBox,
window[FITSidebar]:not([showTabs]) #findbartweak-findInTabs-tabs,
window[FITSidebar]:not([showTabs]) #findbartweak-findInTabs-splitter {
	visibility: collapse;
}

window[FITSidebar] #findbartweak-findInTabs-box {
	-moz-box-orient: vertical;
}

window[FITSidebar] #findbartweak-findInTabs-tabs,
window[FITSidebar] #findbartweak-findInTabs-hits {
	padding: 0;
}

window[FITSidebar] #findbartweak-findInTabs-tabs richlistbox,
window[FITSidebar] #findbartweak-findInTabs-hits richlistbox {
	margin: 0;
	-moz-appearance: none;
}

window[FITSidebar] #findbartweak-findInTabs-tabs richlistbox,
window[FITSidebar]:not([showTabs]) #findbartweak-findInTabs-hits richlistbox {
	border-top: 1px solid ThreeDShadow;
}
