@import url("chrome://findbartweak/skin/sights.css");

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document
	url("chrome://browser/content/browser.xul"),
	url("chrome://global/content/viewSource.xul"),
	url("chrome://global/content/viewPartialSource.xul") {

	#FindToolbar[hideLabels] toolbarbutton label,
	#FindToolbar[hideLabels] checkbox label,
	#FindToolbar[hideLabels] checkbox[anonid="find-case-sensitive"],
	#FindToolbar[noClose] .findbar-closebutton {
		display: none;
	}
	
	#FindToolbar[hideLabels] toolbarbutton image,
	#FindToolbar[hideLabels] checkbox image {
		margin: 0;
	}
	
	#FindToolbar[movetotop] {
		position: fixed;
		overflow: hidden;
		border-top: none;
		border-radius: 0 0 8px 8px;
		background-image: none;
	}
	
	#FindToolbar description[anonid="find-status"] {
		margin-right: 4px !important;
	}
	
	#FindToolbar:not([movetotop])[movetoright] > hbox.findbar-container {
		position: absolute;
		text-align: end;
	}
	#FindToolbar:not([movetotop])[movetoright] > hbox.findbar-container > * {
		position: static;
		text-align: start;
		vertical-align: middle;
	}
	
	.findbar-cs-button {
		list-style-image: url("chrome://findbartweak/skin/toolbar.png");
		-moz-image-region: rect(0px 16px 16px 0px);
		margin-right: 3px;
	}
	
	/* Rounded inner corners */
	#FindToolbar[movetotop]:before {
		content: "";
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background: transparent;
		position: fixed;
	}
	#FindToolbar[movetotop]:after {
		content: "";
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background: transparent;
		position: fixed;
	}
	
	/* Find Toolbar styled for PDF.JS documents */
	#FindToolbar[movetotop][inPDFJS]:before {
		box-shadow: 	2px -2px 0 -2px rgba(255,255,255,0.08),
		                1px -1px 0 -1px rgba(0,0,0,0.15),
		                7px -4px 0px -4px rgba(68,68,68,0.95),
		                6px -4px 0px -4px rgba(68,68,68,0.95);
	}
	#FindToolbar[movetotop][inPDFJS]:after {
		box-shadow: 	-2px -2px 0 -2px rgba(255,255,255,0.08),
		                -1px -1px 0 -1px rgba(0,0,0,0.15),
		                -7px -4px 0px -4px rgba(68,68,68,0.95),
		                -6px -4px 0px -4px rgba(68,68,68,0.95);
	}
	#FindToolbar[movetotop][inPDFJS] {
		border: none;
		background-color: rgb(71,71,71);
		background-image: url("resource://pdf.js/web/images/texture.png"), -moz-linear-gradient(rgba(68,68,68,0.95), rgba(68,68,68,0.95));
		background-image: url("resource://pdf.js/web/images/texture.png"), linear-gradient(rgba(68,68,68,0.95), rgba(68,68,68,0.95)); /* Firefox 16 */
		background-repeat: repeat;
		background-size: auto auto;
		color: rgb(216,216,216);
		box-shadow: 	rgba(255,255,255,0.08) 1px 0px 0px 0px inset,
		                rgba(255,255,255,0.05) 0px -1px 0px 0px inset,
		                rgba(0,0,0,0.15) 0px 1px 0px 0px,
		                rgba(0,0,0,0.1) 0px 1px 1px 0px;
	}
	#FindToolbar[movetotop][inPDFJS] toolbarbutton:not([disabled="true"]) {
		color: rgb(216,216,216);
	}
	
	/* Grid stuff */
	hbox[anonid="gridBox"] {
		pointer-events: none;
		width: 100%;
		height: 100%;
		direction: rtl !important;
	}
	
	grid[anonid="findGrid"] {
		opacity: 0.7;
	}
	
	grid[anonid="findGrid"][gridSpacers="none"] row[flex="0"] {
		height: 0px;
	}
	
	grid[anonid="findGrid"] row[pattern] {
		background-image: url("chrome://findbartweak/skin/pattern.gif");
	}
	
	/* Grid for the View Source window */
	#viewSource hbox[anonid="gridBox"] {
		position: fixed !important;
	}
	
	#viewSource grid[anonid="findGrid"] {
		height: 100%;
		position: relative;
		top: -13px;
	}
	
	/* Findbar square look on top */
	#FindToolbar[movetotop][squareLook] {
		border-radius: 0px !important;
	}
	
	#FindToolbar[movetotop][placeAbove] {
		border-left: none !important;
		border-right: none !important;
	}
	
	#FindToolbar[movetotop][squareLook]:not([movetoright]) {
		border-left: none !important;
	}

		
	#FindToolbar[movetotop][squareLook]:before,
	#FindToolbar[movetotop][squareLook]:after {
		display: none;
	}
	
	/* For the toolbar button */
	#findbartweak-button {
		list-style-image: url("chrome://findbartweak/skin/button.png");
	}
	
	#navigator-toolbox[iconsize="small"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon,
	#navigator-toolbox[mode="full"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon {
		height: 18px;
	}
	#navigator-toolbox:not([mode="full"])[iconsize="large"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon { height: 24px; }
	
	#TabsToolbar #findbartweak-button .toolbarbutton-icon { height: 20px; }
	
	#navigator-toolbox[iconsize=large][mode=icons] > :not(#TabsToolbar) > #findbartweak-button > .toolbarbutton-icon { padding: 2px 6px; }
	
	/* Find In Tabs */
	#browser-bottombox[lwthemefooter="true"] {
		background-repeat: repeat-y;
	}
	
	#findbartweak-findInTabs-resizer {
		-moz-appearance: none;
		background: none;
		height: 4px;
	}
	#findbartweak-findInTabs-resizer:not([movetotop]) {
		margin-bottom: -4px;
	}
	#findbartweak-findInTabs-resizer[movetotop] {
		margin-top: -4px;
	}
	
	#findbartweak-findInTabs-box {
		min-height: 20px;
	}
	
	#findbartweak-findInTabs-box[movetotop] {
		margin-top: -1px;
	}
	
	#findbartweak-findInTabs-hits richlistitem {
		padding: 0 5px;
	}
	#findbartweak-findInTabs-hits richlistitem label {
		margin-left: 0;
		margin-right: 0;
	}
	
	.findbar-tabs {
		list-style-image: url("chrome://findbartweak/skin/findintabs.png");
		-moz-image-region: rect(0px, 16px, 16px, 0px);
	}
	
	.findbar-tabs-update {
		list-style-image: url("chrome://findbartweak/skin/findintabs.png");
		-moz-image-region: rect(0px, 32px, 16px, 16px);
	}
	
	#FindToolbar[noClose] .findbar-tabs-update {
		margin-left: 3px;
	}
	
	.findbar-tabs image,
	.findbar-tabs-update image,
	.findbar-cs-button image {
		min-height: 16px;
		max-height: 16px;
		background: none;
		border: none;
	}
	
	.findInTabs-list {
		min-width: 30px;
		height: 100%;
		padding: 3px;
		overflow: hidden;
	}
	
	.findInTabs-list listheader {
		-moz-appearance: none;
		background: none;
		border: none;
		box-shadow: none;
		padding: 0;
		pointer-events: none;
	}
	
	.findInTabs-list listheader .hitsHeader {
		text-align: center;
	}
	
	.findInTabs-list listheader image {
		display: none;
	}
	
	.findInTabs-list image {
		min-width: 16px;
		max-height: 16px;
		margin-left: 1px;
	}
	
	.findInTabs-list .right {
		text-align: end;
	}
}
