/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

window[inDOMFullscreen] findbar {
	visibility: collapse;
}

/* don't animate the findbar when using the global findbar and switching tabs,
   so that it seems it's the same findbar and not a new one always opening */
findbar[noAnimation] {
	transition: none;
}

/* findbar appearance */

findbar[noClose] .findbar-closebutton,
findbar .findbar-closebutton:not([anonid]),
findbar label[anonid="found-matches"] {
	display: none;
}

findbar .findbar-find-status {
	-moz-margin-end: 6px !important;
}

findbar .findbar-find-status:-moz-lwtheme {
	color: inherit;
}

findbar[hideLabels] .findbar-button > .toolbarbutton-text:not(.toolbarbutton-icon) {
	/* I'm not just hiding these through display:none because this way it's like they still exist, so the height of the buttons is unaffected */
	width: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-color: transparent !important;
	background: transparent !important;
	box-shadow: none !important;
}

findbar[hideLabels] .findbar-button .toolbarbutton-icon {
	margin: 0;
	display: -moz-box;
}

findbar[hideLabels] toolbarbutton[anonid="highlight"] {
	list-style-image: url("chrome://findbartweak/skin/toolbar.png");
	-moz-image-region: rect(0px 32px 16px 16px);
}

findbar[hideLabels] toolbarbutton[anonid="find-case-sensitive"] {
	list-style-image: url("chrome://findbartweak/skin/toolbar.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

findbar[keepButtons] toolbarbutton[hidden].tabbable:not(.findbar-no-find-fast):not(.findbar-find-fast),
findbar[keepButtons] spacer {
	display: -moz-box;
}

findbar[keepButtons] label[anonid="match-case-status"] {
	display: none;
}

image[anonid="find-status-icon"][status="pending"] {
	-moz-padding-start: 8px;
}

/* Find in All Tabs */

findbar toolbarbutton[anonid="findbartweak-find-tabs"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-goto"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-tabs"] {
	list-style-image: url("chrome://findbartweak/skin/findintabs.png");
}

findbar toolbarbutton[anonid="findbartweak-find-tabs-tabs"] {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

findbar toolbarbutton[anonid="findbartweak-find-tabs"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-goto"] {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

findbar:not([hideLabels]) toolbarbutton[anonid="findbartweak-find-tabs"] > .toolbarbutton-icon {
	display: none;
}

/* to show the findbar on the right or the left, we just switch the locale direction when it's on the bottom */

findbar[movetoright]:-moz-locale-dir(ltr) > hbox.findbar-container,
findbar:not([movetoright]):-moz-locale-dir(rtl) > hbox.findbar-container > * {
	direction: rtl;
}

findbar[movetoright]:-moz-locale-dir(ltr) > hbox.findbar-container > *,
findbar:not([movetoright]):-moz-locale-dir(rtl) > hbox.findbar-container {
	direction: ltr;
}

findbar[movetoright]:-moz-locale-dir(ltr) hbox[anonid="findbar-textbox-wrapper"],
findbar:not([movetoright]):-moz-locale-dir(rtl) hbox[anonid="findbar-textbox-wrapper"] {
	margin: 0 5px;
}

findbar[movetoright]:-moz-locale-dir(ltr) .findbar-find-status,
findbar:not([movetoright]):-moz-locale-dir(rtl) .findbar-find-status {
	margin: 0 12px !important; /* !important tag is necessary, the original also have !important tags */
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) toolbarbutton[anonid="find-closebutton"],
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) toolbarbutton[anonid="find-closebutton"] {
	-moz-box-ordinal-group: 0;
}

/* small findbar at the top */

findbar[movetotop] {
	-moz-box-ordinal-group: 0;
	position: fixed;
	margin-top: -1px;
	margin-left: 22px;
	margin-right: 22px;
	border-top: none;
	border-radius: 0 0 8px 8px;
	background-image: none;
}

/* compatibility with Tile Tabs, don't need to overlap since we can't show the findbar above the navigator toolbox anyway */
window[tiletabs-ffversion] findbar[movetotop]:not([inPDFJS]) {
	margin-top: 0;
}

findbar[movetotop] .findbar-container {
	overflow: hidden;
	background-size: auto auto;
	background-repeat: repeat;
	background-clip: padding-box;
}

findbar[movetotop]:not([inPDFJS]):-moz-lwtheme {
	background-repeat: repeat;
	background-size: auto auto;
}

/* Rounded inner corners */

findbar[movetotop]:before,
findbar[movetotop]:after {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: transparent;
	position: absolute;
}

findbar[movetotop]:before {
	-moz-margin-start: -16px;
}

/* There's just no way I can have rounded corners with personas */
findbar[movetotop]:not([DevEdition]):not([inPDFJS]):-moz-lwtheme:before,
findbar[movetotop]:not([DevEdition]):not([inPDFJS]):-moz-lwtheme:after {
	display: none;
}

/* Find Toolbar styled for PDF.JS documents */

findbar[movetotop][inPDFJS]:-moz-locale-dir(ltr):before,
findbar[movetotop][inPDFJS]:-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px rgba(255,255,255,0.08),
	                1px -1px 0 -1px rgba(0,0,0,0.15),
	                7px -4px 0px -4px rgba(68,68,68,0.95),
	                6px -4px 0px -4px rgba(68,68,68,0.95);
}

findbar[movetotop][inPDFJS]:-moz-locale-dir(ltr):after,
findbar[movetotop][inPDFJS]:-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px rgba(255,255,255,0.08),
	                -1px -1px 0 -1px rgba(0,0,0,0.15),
	                -7px -4px 0px -4px rgba(68,68,68,0.95),
	                -6px -4px 0px -4px rgba(68,68,68,0.95);
}

findbar[movetotop][inPDFJS] {
	border: none;
	background-color: rgb(71,71,71);
	background-image: url("resource://pdf.js/web/images/texture.png"), linear-gradient(rgba(68,68,68,0.95), rgba(68,68,68,0.95));
	background-repeat: repeat;
	background-size: auto auto;
	color: rgb(216,216,216);
	box-shadow: 	rgba(255,255,255,0.08) 1px 0px 0px 0px inset,
	                rgba(255,255,255,0.05) 0px -1px 0px 0px inset,
	                rgba(0,0,0,0.15) 0px 1px 0px 0px,
	                rgba(0,0,0,0.1) 0px 1px 1px 0px;

	/* toolbar height, hardcoded in http://mxr.mozilla.org/mozilla-central/source/browser/extensions/pdfjs/content/web/viewer.css, - 1px to overlap */
	margin-top: 31px;
}

findbar[movetotop][inPDFJS][loadingBar] {
	/* toolbar + loadingbar height, hardcoded, don't overlap as above */
	margin-top: 36px;
}

findbar[movetotop][inPDFJS][sidebarOpen] {
	/* the above margins + sidebar width, hardcoded */
	-moz-margin-start: 222px;
}

findbar[movetotop][inPDFJS] toolbarbutton:not([disabled="true"]),
findbar[movetotop][inPDFJS] .findbar-find-status {
	color: rgb(216,216,216);
}

/* tweaks for the Developer Edition theme */

findbar[movetotop][DevEdition]:not([inPDFJS]) {
	background-color: var(--chrome-secondary-background-color) !important;
}

window[devtoolstheme="dark"] findbar[movetotop][DevEdition]:not([inPDFJS]) {
	border-left: 1px solid var(--chrome-background-color) !important;
	border-right: 1px solid var(--chrome-background-color) !important;
	border-bottom: 1px solid var(--chrome-background-color) !important;
}

window[devtoolstheme="dark"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(ltr):before,
window[devtoolstheme="dark"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px var(--chrome-background-color),
	                7px -4px 0px -4px var(--chrome-secondary-background-color),
	                6px -4px 0px -4px var(--chrome-secondary-background-color) !important;
}
window[devtoolstheme="dark"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(ltr):after,
window[devtoolstheme="dark"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px var(--chrome-background-color),
	                -7px -4px 0px -4px var(--chrome-secondary-background-color),
	                -6px -4px 0px -4px var(--chrome-secondary-background-color) !important;
}

window[devtoolstheme="light"] findbar[movetotop][DevEdition]:not([inPDFJS]) {
	border-left: 1px solid #aaa !important;
	border-right: 1px solid #aaa !important;
	border-bottom: 1px solid #aaa !important;
}

window[devtoolstheme="light"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(ltr):before,
window[devtoolstheme="light"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px #aaa,
	                7px -4px 0px -4px var(--chrome-secondary-background-color),
	                6px -4px 0px -4px var(--chrome-secondary-background-color) !important;
}
window[devtoolstheme="light"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(ltr):after,
window[devtoolstheme="light"] findbar[movetotop][DevEdition]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px #aaa,
	                -7px -4px 0px -4px var(--chrome-secondary-background-color),
	                -6px -4px 0px -4px var(--chrome-secondary-background-color) !important;
}

/* Textbox resizers */

findbar .find-textbox-resizer {
	-moz-appearance: none !important;
	background: none;
}

findbar:not([movetoright]) resizer[anonid="find-left-resizer"]:-moz-locale-dir(ltr),
findbar[movetoright] resizer[anonid="find-left-resizer"]:-moz-locale-dir(rtl),
findbar[movetoright] resizer[anonid="find-right-resizer"]:-moz-locale-dir(ltr),
findbar:not([movetoright]) resizer[anonid="find-right-resizer"]:-moz-locale-dir(rtl) {
	display: none;
}

/* tricks necessary to use the textbox resizers with the findbar on top */
findbar[movetotop][extend] .findbar-container {
	width: 100%;
}
