@import url("chrome://findbartweak/skin/sights.css");

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document
	url("chrome://browser/content/browser.xul"),
	url("chrome://global/content/viewSource.xul"),
	url("chrome://global/content/viewPartialSource.xul") {

	#FindToolbar[hideLabels] toolbarbutton label,
	#FindToolbar[hideLabels] checkbox label,
	#FindToolbar[noClose] .findbar-closebutton {
		display: none;
	}
	
	#FindToolbar[hideLabels] toolbarbutton image,
	#FindToolbar[hideLabels] checkbox image {
		margin: 0;
	}
	
	#FindToolbar[movetotop] {
		position: fixed;
		overflow: hidden;
		border-top: none;
		border-radius: 0 0 8px 8px;
	}
	
	#FindToolbar description[anonid="find-status"] {
		margin-right: 4px !important;
	}
	
	#FindToolbar:not([movetotop])[movetoright] > hbox.findbar-container {
		position: absolute;
		text-align: end;
	}
	#FindToolbar:not([movetotop])[movetoright] > hbox.findbar-container > * {
		position: static;
		text-align: start;
	}
	
	/* Rounded inner corners */
	#FindToolbar[movetotop]:before {
		content: "";
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background: transparent;
		position: fixed;
	}
	#FindToolbar[movetotop]:after {
		content: "";
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background: transparent;
		position: fixed;
	}
	
	/* I'm only suppoprting NASA Night Launch because I was already doing so previously.
	If at some point the theme itself styles the find bar on top I will remove these. */
	#main-window[theme="nasanightlaunch"] #FindToolbar[movetotop]:before {
		box-shadow: 	2px -2px 0 -2px rgb(0,0,0),
		                7px -4px 0px -4px rgb(7,7,7),
		                6px -4px 0px -4px rgb(7,7,7);
	}
	#main-window[theme="nasanightlaunch"] #FindToolbar[movetotop]:after {
		box-shadow: 	-2px -2px 0 -2px rgb(0,0,0),
		                -7px -4px 0px -4px rgb(7,7,7),
		                -6px -4px 0px -4px rgb(7,7,7);
	}
	#main-window[theme="nasanightlaunch"] #FindToolbar[movetotop] {
		min-height: 25px;
		height: 25px;
		border-bottom: 1px solid rgb(0,0,0);
		border-right: 1px solid rgb(0,0,0);
		border-left: 1px solid rgb(0,0,0);
	}
	
	/* Find bar */
	window:not([theme="nasanightlaunch"]) #FindToolbar[movetotop] {
		background-image: none;
	}
	
	/* Grid stuff */
	hbox[anonid="gridBox"] {
		pointer-events: none;
		width: 100%;
		height: 100%;
		direction: rtl !important;
	}
	
	grid[anonid="findGrid"] {
		opacity: 0.7;
	}
	
	grid[anonid="findGrid"][gridSpacers="none"] row[flex="0"] {
		height: 0px;
	}
	
	/* Grid for the View Source window */
	#viewSource hbox[anonid="gridBox"] {
		position: fixed !important;
	}
	
	#viewSource grid[anonid="findGrid"] {
		height: 100%;
		position: relative;
		top: -13px;
	}
	
	/* Findbar square look on top */
	#FindToolbar[movetotop][squareLook] {
		border-radius: 0px !important;
	}
	
	#FindToolbar[movetotop][placeAbove] {
		border-left: none !important;
		border-right: none !important;
	}
	
	#FindToolbar[movetotop][squareLook]:not([movetoright]) {
		border-left: none !important;
	}

		
	#FindToolbar[movetotop][squareLook]:before,
	#FindToolbar[movetotop][squareLook]:after {
		display: none;
	}
	
	/* For the toolbar button */
	#findbartweak-button {
		list-style-image: url("chrome://findbartweak/skin/button.png");
	}
	
	#navigator-toolbox[iconsize="small"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon,
	#navigator-toolbox[mode="full"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon {
		height: 18px;
	}
	#navigator-toolbox:not([mode="full"])[iconsize="large"] :not(#TabsToolbar) #findbartweak-button .toolbarbutton-icon { height: 24px; }
	
	#TabsToolbar #findbartweak-button .toolbarbutton-icon { height: 20px; }
	
	#navigator-toolbox[iconsize=large][mode=icons] > :not(#TabsToolbar) > #findbartweak-button > .toolbarbutton-icon { padding: 2px 6px; }
	
	/* Find In Tabs */
	#browser-bottombox[lwthemefooter="true"] {
		background-repeat: repeat-y;
	}
	
	#findbartweak-findInTabs-resizer {
		-moz-appearance: none;
		background: none;
		height: 4px;
	}
	#findbartweak-findInTabs-resizer:not([movetotop]) {
		margin-bottom: -4px;
	}
	#findbartweak-findInTabs-resizer[movetotop] {
		margin-top: -4px;
	}
	
	#findbartweak-findInTabs-box {
		min-height: 20px;
	}
	
	#findbartweak-findInTabs-box[movetotop] {
		margin-top: -1px;
	}
	
	#findbartweak-findInTabs-hits richlistitem {
		padding: 0 5px;
	}
	#findbartweak-findInTabs-hits richlistitem label {
		margin-left: 0;
		margin-right: 0;
	}
	
	.findbar-tabs {
		list-style-image: url("chrome://findbartweak/skin/findintabs.png");
		-moz-image-region: rect(0px, 16px, 16px, 0px);
	}
	
	.findbar-tabs-update {
		list-style-image: url("chrome://findbartweak/skin/findintabs.png");
		-moz-image-region: rect(0px, 32px, 16px, 16px);
	}
	
	.findbar-tabs image,
	.findbar-tabs-update image {
		min-height: 16px;
		max-height: 16px;
		background: none;
		border: none;
	}
	
	.findInTabs-list {
		min-width: 30px;
		height: 100%;
		padding: 3px;
		overflow: hidden;
	}
	
	.findInTabs-list listheader {
		-moz-appearance: none;
		background: none;
		border: none;
		box-shadow: none;
		padding: 0;
		pointer-events: none;
	}
	
	.findInTabs-list listheader .hitsHeader {
		text-align: center;
	}
	
	.findInTabs-list listheader image {
		display: none;
	}
	
	.findInTabs-list image {
		min-width: 16px;
		max-height: 16px;
	}
	
	.findInTabs-list .right {
		text-align: end;
	}
}
