/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://findbartweak-os/skin/frameGrid.css");

/* Grid stuff for frame grids */
div[ownedbyfindbartweak][anonid="gridBox"] {
	pointer-events: none;
}

div[ownedbyfindbartweak][anonid="gridBox"][hidden="true"][unHide="true"]:not([beingPositioned]) {
	display: flex !important;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] {
	opacity: 0.7;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"],
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] > div {
	display: flex;
	flex-direction: column;

	/* make sure websites don't mess with the grid's layout */
	position: relative;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] > div > div:not([highlight]) {
	display: none;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[highlight] {
	position: absolute;
	width: 100%;
	min-height: 2px !important;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[flex="0"] {
	flex: 0;
}
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[flex="1"] {
	flex: 1;
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[pattern] {
	background-image: url("chrome://findbartweak/skin/pattern.gif");
}

div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[highlight]:not([pattern]):not([current]):not([hover]) { z-index: 100; }
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[pattern]:not([current]):not([hover]) { z-index: 200; }
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[current] { z-index: 300; }
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"] div[hover] { z-index: 400; }
