/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/* ideally, this should be included in FXChrome itself */

	findbar[movetotop] {
		--findbar-bg-color: #F2F2F2 !important;
		--findbar-bg-gradient-color: #F2F2F2 !important;
		--findbar-bg-image: none !important;
	}

	#main-window[privatebrowsingmode=temporary] findbar[movetotop] {
		--findbar-bg-color: #505050 !important;
		--findbar-bg-gradient-color: #505050 !important;
	}
}
