/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#categories .category image { list-style-image: url("chrome://findbartweak/skin/panes.png"); }
#categories .category[value="paneGeneral"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneAppearance"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneHighlights"] image { -moz-image-region: rect(0px 72px 24px 48px); }
#categories .category[value="paneSights"] image { -moz-image-region: rect(0px 96px 24px 72px); }
#categories .category[value="paneTweaks"] image { -moz-image-region: rect(0px 120px 24px 96px); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 144px 24px 120px); }
#categories .category[value="paneFindAll"] image { -moz-image-region: rect(0px 168px 24px 144px); }

colorpicker {
	width: 50px;
}

caption colorpicker[type="button"] {
	-moz-margin-start: 1.5em;
}

/* Get OmniSidebar section of the Find All pane */

#paneFindAll-getOSB {
	cursor: pointer;
	background: rgb(255,255,255) url("chrome://findbartweak/skin/omnisidebar.png") no-repeat 8px 50%;
	border: 1px solid rgb(193,193,193);
	min-height: 68px;
	margin: 15px 0 10px;
	-moz-padding-start: 84px;
	-moz-padding-end: 8px;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

#paneFindAll-getOSB:hover {
	border-color: rgb(0,149,221);
}

#paneFindAll-getOSB description {
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0;
}
