textbox[type="number"] input {
	text-align: center;
}

.closer {
	margin-bottom: 0;
}

#logo {
	list-style-image: url("chrome://findbartweak/skin/icon.png");
	margin-top: 20px;
	margin-bottom: 20px;
}

.justify {
	text-align: justify;
}

#addonVersion {
	-moz-margin-start: 3px;
}

/* Bugfix: cropped prefpanes with animateFadeIn, found at https://bugzilla.mozilla.org/show_bug.cgi?id=394793 comment #1 */
prefpane > .content-box {
	overflow: -moz-hidden-unscrollable;
}

.text-link[disabled="true"] {
	cursor: default;
	text-decoration: none;
}

.paneSelector radio[pane] label {
	margin: 1px 5px 2px 5px;
}
.paneSelector radio[pane] {
	list-style-image: url("chrome://findbartweak/skin/panes.png");
	padding: 5px 3px 1px;
}
.paneSelector radio[pane="generalPane"] {
	-moz-image-region: rect(0px 32px 32px 0px);
}
.paneSelector radio[pane="appearancePane"] {
	-moz-image-region: rect(0px 64px 32px 32px);
}
.paneSelector radio[pane="highlightsPane"] {
	-moz-image-region: rect(0px 96px 32px 64px);
}
.paneSelector radio[pane="sightsPane"] {
	-moz-image-region: rect(0px 128px 32px 96px);
}
.paneSelector radio[pane="tweaksPane"] {
	-moz-image-region: rect(0px 160px 32px 128px);
}
.paneSelector radio[pane="aboutPane"] {
	-moz-image-region: rect(0px 192px 32px 160px);
}
