tabpanels > *[Horient] {
	-moz-box-orient: horizontal;
}

grid.fbt-highlight-grid {
	min-width: 2px;
	max-width: 150px;
	border-left: 2px solid rgb(0,0,0);
	-moz-border-left-colors: rgb(240, 240, 240) rgb(105, 105, 105);
	background: rgb(207, 219, 236) -moz-linear-gradient(rgba(255, 255, 255, 0.5), transparent) repeat;
}

grid.fbt-highlight-grid[inScrollbar],
grid.fbt-grid-blocker {
	width: 100%; 
	max-width: 100%;
	-moz-appearance: scrollbartrack-vertical;
	background: url("chrome://global/skin/scrollbar/slider.gif") scrollbar;
	padding: 0 3px;
}

#main-window[theme="nasanightlaunch"] grid.fbt-highlight-grid[inScrollbar],
#main-window[theme="nasanightlaunch"] grid.fbt-highlight-grid,
#main-window[theme="nasanightlaunch"] grid.fbt-grid-blocker {
	-moz-appearance: none;
	background: url("chrome://global/skin/scrollbar/scrollbar-bg.png") top left repeat #5a5a5a;
	border-left: none;
}

splitter.fbt-grid-splitter {
	width: 4px;
	min-width: 4px;
	border-right: none;
}

#FindToolbar[movetotop] {
	position: fixed;
	overflow: hidden;
	border-top: none;
	border-left: none;
}
#main-window:not([theme="nasanightlaunch"]) #FindToolbar[movetotop] {
	background-color: -moz-dialog;
	border-bottom: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
	-moz-border-bottom-colors: rgb(160, 160, 160);
	-moz-border-right-colors: rgb(160, 160, 160);
}
#main-window[theme="nasanightlaunch"] #FindToolbar[movetotop] {
	min-height: 25px;
	height: 25px;
	border-bottom: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
}

/* The barlesque add-on forces no borders with !important tags, so I have to override them */
.barlesque-bar[findmode] #FindToolbar[movetotop] {
	border-top: none !important;
	border-left: none !important;
}
#main-window:not([theme="nasanightlaunch"]) .barlesque-bar[findmode] #FindToolbar[movetotop] {
	border-bottom: 1px solid rgb(0,0,0) !important;
	border-right: 1px solid rgb(0,0,0) !important;
	-moz-border-bottom-colors: rgb(160, 160, 160) !important;
	-moz-border-right-colors: rgb(160, 160, 160) !important;
}
#main-window[theme="nasanightlaunch"] .barlesque-bar[findmode] #FindToolbar[movetotop] {
	border-bottom: 1px solid rgb(0,0,0) !important;
	border-right: 1px solid rgb(0,0,0) !important;
}

#FindToolbar[hideLabels] toolbarbutton label,
#FindToolbar[hideLabels] checkbox label,
#FindToolbar[noClose] .findbar-closebutton,
#FindToolbar #highlight-counter:not([collapsed]) ~ .findbar-find-fast {
	display: none;
}
#FindToolbar[hideLabels] toolbarbutton image,
#FindToolbar[hideLabels] checkbox image {
	margin-right: 0;
}