@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul"), url("chrome://global/content/viewSource.xul"), url("chrome://findbartweak/content/options.xul") {
	
	hbox[anonid="findSights"] {
		pointer-events: none;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
	
	#main-window hbox[anonid="findSights"] {
		position: relative !important;
	}
	
	box[anonid="highlightSights"] {
		position: absolute;
	}
	
	box[anonid="highlightSights"][sightsStyle="focus"] {
		border-radius: 50%;
		border: 8px solid transparent;
	}
	
	box[anonid="highlightSights"][sightsStyle="circle"] box[innerContainer] box {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 8px solid transparent;
		position: absolute;
	}
	box[anonid="highlightSights"][sightsStyle="circle"][gt180] box[innerContainer].otherHalf box,
	box[anonid="highlightSights"][sightsStyle="circle"][gt360] box[innerContainer].otherHalf box {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg); /* Firefox 16 */
	}
	
	box[anonid="highlightSights"][sightsStyle="circle"] box[innerContainer] {
		position: absolute;
	}
	
	box[anonid="highlightSights"][sightsStyle="circle"][gt0] box[innerContainer] box,
	box[anonid="highlightSights"][sightsStyle="circle"][gt180] box[innerContainer] box {
		clip: rect(0,50px,100px,0);
	}
	box[anonid="highlightSights"][sightsStyle="circle"][gt360] box[innerContainer] box,
	box[anonid="highlightSights"][sightsStyle="circle"][gt540] box[innerContainer] box {
		clip: rect(0,100px,100px,50px);
	}
	
	box[anonid="highlightSights"][sightsStyle="circle"][gt0] box[innerContainer]:not(.otherHalf),
	box[anonid="highlightSights"][sightsStyle="circle"][gt360] box[innerContainer]:not(.otherHalf) {
		clip: rect(0,100px,100px,50px);
	}
	box[anonid="highlightSights"][sightsStyle="circle"][gt0] box[innerContainer].otherHalf,
	box[anonid="highlightSights"][sightsStyle="circle"][gt540] box[innerContainer].otherHalf {
		clip: rect(0,100px,100px,100px);
	}
	box[anonid="highlightSights"][sightsStyle="circle"][gt180] box[innerContainer]:not(.otherHalf),
	box[anonid="highlightSights"][sightsStyle="circle"][gt540] box[innerContainer]:not(.otherHalf) {
		clip: rect(0,50px,100px,0);
	}
	box[anonid="highlightSights"][sightsStyle="circle"][gt180] box[innerContainer].otherHalf,
	box[anonid="highlightSights"][sightsStyle="circle"][gt360] box[innerContainer].otherHalf {
		clip: rect(0,100px,100px,0);
	}
	
	/* for the View Source window */
	#viewSource hbox[anonid="findSights"] {
		position: fixed !important;
	}
	
	#viewSource hbox[anonid="findSights"] {
		top: 0px;
	}
	
	/* for the preferences dialog */
	prefpane hbox[anonid="findSights"] {
		position: fixed !important;
	}

}
