/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Find in All Tabs */

findbar toolbarbutton[anonid="findbartweak-find-tabs"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-goto"] {
	-moz-margin-start: 5px;
}

/* small findbar at the top */

findbar[movetotop] {
	--findbar-bg-color: -moz-dialog;
	--findbar-bg-gradient-color: hsla(0,0%,100%,.15);
	--findbar-bg-image: linear-gradient(var(--findbar-bg-gradient-color), var(--findbar-bg-gradient-color));
	--findbar-border-color: ThreeDShadow;
}

findbar[movetotop]:not([inPDFJS]):-moz-lwtheme {
	--findbar-border-color: rgba(0,0,0,.3);
	--findbar-bg-gradient-color: transparent;
}

findbar[movetotop]:not([inPDFJS]) {
	background-color: var(--findbar-bg-color);
	border-bottom: 1px solid var(--findbar-border-color);
	border-right: 1px solid var(--findbar-border-color);
	border-left: 1px solid var(--findbar-border-color);
	-moz-border-bottom-colors: var(--findbar-border-color);
	-moz-border-right-colors: var(--findbar-border-color);
	-moz-border-left-colors: var(--findbar-border-color);
}

findbar[movetotop]:not([inPDFJS]):not([DevEdition]) .findbar-container {
	background-image: var(--findbar-bg-image);
}

findbar[movetotop] .findbar-container {
	padding-top: 1px;
	padding-bottom: 1px;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-start: 3px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-end: 3px;
	-moz-padding-start: 0;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-margin-end: 3px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-margin-start: 3px;
}

findbar[movetotop] textbox {
	padding: 3px 5px;
}

findbar[movetotop]:not([inPDFJS]):-moz-lwtheme-brighttext .close-icon:not(:hover) {
	background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 80, 16, 64);
}

/* Rounded inner corners */

findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px var(--findbar-border-color),
	                7px -4px 0px -4px var(--findbar-bg-gradient-color),
	                7px -4px 0px -4px var(--findbar-bg-color),
	                6px -4px 0px -4px var(--findbar-bg-color);
}
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px var(--findbar-border-color),
	                -7px -4px 0px -4px var(--findbar-bg-gradient-color),
	                -7px -4px 0px -4px var(--findbar-bg-color),
	                -6px -4px 0px -4px var(--findbar-bg-color);
}

/* Textbox resizers */

findbar .findbar-textbox {
	min-width: 14em;
}

findbar .find-textbox-resizer {
	width: 4px;
	height: calc(1.2em + 5px); /* I think this faithfully represents font-height plus box-padding, thus should work with OS font zoom */
}

findbar resizer[anonid="find-left-resizer"] {
	-moz-margin-end: -3px;
	-moz-margin-start: -1px;
}

findbar resizer[anonid="find-right-resizer"] {
	-moz-margin-start: -3px;
	-moz-margin-end: -1px;
}
