@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Find in All Tabs */

findbar toolbarbutton[anonid="findbartweak-find-tabs"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-goto"] {
	-moz-margin-start: 5px;
}

/* small findbar at the top */

findbar[movetotop]:not([inPDFJS]) {
	background-color: -moz-dialog;
	border-bottom: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
	border-left: 1px solid rgb(0,0,0);
	-moz-border-bottom-colors: ThreeDShadow;
	-moz-border-right-colors: ThreeDShadow;
	-moz-border-left-colors: ThreeDShadow;
}

#main-window[findbartweak-FF43] findbar[movetotop]:not([inPDFJS]):-moz-lwtheme {
	-moz-border-bottom-colors: rgba(0,0,0,.3);
	-moz-border-right-colors: rgba(0,0,0,.3);
	-moz-border-left-colors: rgba(0,0,0,.3);
}

findbar[movetotop] .findbar-container {
	padding-top: 1px;
	padding-bottom: 1px;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-start: 3px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-end: 3px;
	-moz-padding-start: 0;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-margin-end: 3px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-margin-start: 3px;
}

findbar[movetotop] textbox {
	padding: 3px 5px;
}

/* Rounded inner corners */

findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px ThreeDShadow,
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

#main-window[findbartweak-FF43] findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:before,
#main-window[findbartweak-FF43] findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:after {
	box-shadow: 	2px -2px 0 -2px rgba(0,0,0,.3),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
#main-window[findbartweak-FF43] findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:after,
#main-window[findbartweak-FF43] findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:before {
	box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,.3),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

/* Using Beyond Australis, the bottom color of the slimmer isn't the same, so we (try to) apply the same style as the nav-bar */

#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]) .findbar-container {
	background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
	background-size: auto auto;
	background-repeat: repeat;
	background-clip: padding-box;
}

#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px ThreeDShadow,
	                7px -4px 0px -4px rgba(255,255,255,0.2),
	                6px -4px 0px -4px rgba(255,255,255,0.2),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
	                -7px -4px 0px -4px rgba(255,255,255,0.2),
	                -6px -4px 0px -4px rgba(255,255,255,0.2),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

#main-window[findbartweak-FF43] #navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:before,
#main-window[findbartweak-FF43] #navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:after {
	box-shadow: 	2px -2px 0 -2px rgba(0,0,0,.3),
	                7px -4px 0px -4px rgba(255,255,255,0.2),
	                6px -4px 0px -4px rgba(255,255,255,0.2),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
#main-window[findbartweak-FF43] #navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:after,
#main-window[findbartweak-FF43] #navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:before {
	box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,.3),
	                -7px -4px 0px -4px rgba(255,255,255,0.2),
	                -6px -4px 0px -4px rgba(255,255,255,0.2),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

/* Textbox resizers */

findbar .findbar-textbox {
	min-width: 14em;
}

findbar .find-textbox-resizer {
	width: 4px;
	height: calc(1.2em + 5px); /* I think this faithfully represents font-height plus box-padding, thus should work with OS font zoom */
}

findbar resizer[anonid="find-left-resizer"] {
	-moz-margin-end: -3px;
	-moz-margin-start: -1px;
}

findbar resizer[anonid="find-right-resizer"] {
	-moz-margin-start: -3px;
	-moz-margin-end: -1px;
}
