/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

findbar.findInTabs-bar {
	-moz-padding-end: 8px;
	border-top: 1px solid;
	-moz-border-top-colors: ThreeDHighlight;
}

.findInTabs-bar textbox {
	border-left-width: 1px;
	border-right-width: 1px;
	border-radius: 3px;
}

#contentBox {
	background-color: -moz-dialog;
}
