@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document
	url("chrome://browser/content/browser.xul"),
	url("chrome://global/content/viewSource.xul"),
	url("chrome://global/content/viewPartialSource.xul") {

	/* Rounded inner corners */
	#FindToolbar[movetotop]:before {
		-moz-margin-start: -18px;
	}
	#FindToolbar[movetotop]:after {
		-moz-margin-start: 2px;
	}
	#FindToolbar[movetotop]:before,
	#FindToolbar[movetotop]:after {
		margin-top: -4px;
	}
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
		box-shadow:	2px -2px 0 -2px rgba(0,0,0,0.57),
				7px -4px 0px -4px -moz-mac-chrome-active,
				6px -4px 0px -4px -moz-mac-chrome-active;
	}
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
		box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,0.57),
				-7px -4px 0px -4px -moz-mac-chrome-active,
				-6px -4px 0px -4px -moz-mac-chrome-active;
	}
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-window-inactive:before,
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-window-inactive:after {
		box-shadow: 	2px -2px 0 -2px rgba(0,0,0,0.32),
				7px -4px 0px -4px -moz-mac-chrome-inactive,
				6px -4px 0px -4px -moz-mac-chrome-inactive;
	}
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-window-inactive:after,
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-window-inactive:before {
		box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,0.32),
				-7px -4px 0px -4px -moz-mac-chrome-inactive,
				-6px -4px 0px -4px -moz-mac-chrome-inactive;
	}
	
	/* Find Bar */
	#FindToolbar[movetotop]:not([inPDFJS]) {
		background-color: -moz-mac-chrome-active;
		border-bottom: 1px solid rgba(0,0,0,0.57);
		border-right: 1px solid rgba(0,0,0,0.57);
		border-left: 1px solid rgba(0,0,0,0.57);
		-moz-border-bottom-colors: rgba(0,0,0,0.57);
		-moz-border-right-colors: rgba(0,0,0,0.57);
		-moz-border-left-colors: rgba(0,0,0,0.57);
	}
	#FindToolbar[movetotop]:not([inPDFJS]):-moz-window-inactive {
		background-color: -moz-mac-chrome-inactive;
		border-bottom: 1px solid rgba(0,0,0,0.32);
		border-right: 1px solid rgba(0,0,0,0.32);
		border-left: 1px solid rgba(0,0,0,0.32);
		-moz-border-bottom-colors: rgba(0,0,0,0.32);
		-moz-border-right-colors: rgba(0,0,0,0.32);
		-moz-border-left-colors: rgba(0,0,0,0.32);
	}
	
	/* For the toolbar button */
	#findbartweak-button image {
		margin: 2px 0;
		padding: 0;
		height: 18px;
	}
	
	/* Textbox resizers */
	#FindToolbar #findbartweak-find-textbox {
		min-width: 176px;
	}
	
	#FindToolbar .find-textbox-resizer {
		width: 6px;
	}
	
	#FindToolbar resizer[anonid="find-left-resizer"] {
		-moz-margin-end: -9px;
		-moz-margin-start: 3px;
	}
	#FindToolbar resizer[anonid="find-right-resizer"] {
		-moz-margin-start: -9px;
		-moz-margin-end: 3px;
	}
	
	/* Grid stuff */
	grid[anonid="findGrid"]:not([gridSpacers="none"]) row.topSpacer[flex="0"],
	grid[anonid="findGrid"][gridSpacers="single"] row.bottomSpacer[flex="0"] {
		height: 0px;
	}
	grid[anonid="findGrid"][gridSpacers="double"] row.bottomSpacer[flex="0"] {
		height: 14px;
	}
	
	/* OSX version doesn't have these images, by hiding the labels we are pretty much making the buttons useless, so I'm adding the images back */
	#FindToolbar[hideLabels] .findbar-find-next image,
	#FindToolbar[hideLabels] .findbar-find-previous image {
		max-height: 14px;
		max-width: 14px;
	}
	
	#FindToolbar[hideLabels] .findbar-find-next {
		list-style-image: url("chrome://findbartweak-os/skin/find.png");
		-moz-image-region: rect(0px 16px 16px 0px);
	}
	#FindToolbar[hideLabels] .findbar-find-next:hover {
		-moz-image-region: rect(16px 16px 32px 0px);
	}
	#FindToolbar[hideLabels] .findbar-find-next[disabled="true"] {
		-moz-image-region: rect(32px 16px 48px 0px) !important;
	}
	
	#FindToolbar[hideLabels] .findbar-find-previous {
		list-style-image: url("chrome://findbartweak-os/skin/find.png");
		-moz-image-region: rect(0px 32px 16px 16px);
	}
	#FindToolbar[hideLabels] .findbar-find-previous:hover {
		-moz-image-region: rect(16px 32px 32px 16px);
	}
	#FindToolbar[hideLabels] .findbar-find-previous[disabled="true"] {
		-moz-image-region: rect(32px 32px 48px 16px) !important;
	}
	
	.findbar-cs-button:not([checked="true"]) {
		-moz-image-region: rect(16px 16px 32px 0px);
	}
	
	#FindToolbar[hideLabels] toolbarbutton[anonid="highlight"] image {
		margin: 3px 0;
	}
	
	/* Find in Tabs */
	#findbartweak-findInTabs-box[movetotop] {
		background-color: -moz-mac-chrome-active;
		border-bottom: 1px solid rgba(0,0,0,0.57);
		-moz-border-bottom-colors: rgba(0,0,0,0.57);
	}
	#findbartweak-findInTabs-box[movetotop]:-moz-window-inactive {
		background-color: -moz-mac-chrome-inactive;
		border-bottom: 1px solid rgba(0,0,0,0.32);
		-moz-border-bottom-colors: rgba(0,0,0,0.32);
	}
	
	#FindToolbar:not([hideLabels]) toolbarbutton:not(.findbar-closebutton) image {
		margin-top: 0;
		margin-bottom: 0;
		-moz-margin-end: 0;
		-moz-margin-start: 4px;
	}
	
	.findbar-tabs image,
	.findbar-tabs-update image,
	.findbar-cs-button image {
		min-height: 14px;
		max-height: 14px;
	}
}
