@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document
	url("chrome://browser/content/browser.xul"),
	url("chrome://global/content/viewSource.xul"),
	url("chrome://global/content/viewPartialSource.xul") {
	
	/* Rounded inner corners */
	window:not([findbartweak-FF25]) findbar[movetotop]:before {
		-moz-margin-start: -16px;
	}
	window:not([findbartweak-FF25]) findbar[movetotop]:before,
	window:not([findbartweak-FF25]) findbar[movetotop]:after {
		margin-top: -1px;
	}
	
	window[findbartweak-FF25] findbar[movetotop]:before {
		-moz-margin-start: -24px;
	}
	window[findbartweak-FF25] findbar[movetotop]:after {
		-moz-margin-start: 8px;
	}
	window[findbartweak-FF25] findbar[movetotop]:before,
	window[findbartweak-FF25] findbar[movetotop]:after {
		margin-top: -4px;
	}
	
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
		box-shadow: 	2px -2px 0 -2px ThreeDShadow,
		                7px -4px 0px -4px -moz-dialog,
		                6px -4px 0px -4px -moz-dialog;
	}
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
		box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
		                -7px -4px 0px -4px -moz-dialog,
		                -6px -4px 0px -4px -moz-dialog;
	}
	
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
			window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
				box-shadow: 	2px -2px 0 -2px rgb(170,188,207),
				                7px -4px 0px -4px rgb(219,234,249),
				                6px -4px 0px -4px rgb(219,234,249);
			}
			window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
			window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
				box-shadow: 	-2px -2px 0 -2px rgb(170,188,207),
				                -7px -4px 0px -4px rgb(219,234,249),
				                -6px -4px 0px -4px rgb(219,234,249);
			}
		}
	}
	
	/* Find Bar */
	findbar[movetotop]:not([inPDFJS]) {
		background-color: -moz-dialog;
		border-bottom: 1px solid rgb(0,0,0);
		border-right: 1px solid rgb(0,0,0);
		border-left: 1px solid rgb(0,0,0);
		-moz-border-bottom-colors: ThreeDShadow;
		-moz-border-right-colors: ThreeDShadow;
		-moz-border-left-colors: ThreeDShadow;
	}
	
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			window:not(#viewSource) findbar[movetotop]:not([inPDFJS]) {
				background-color: rgb(219,234,249);
				-moz-border-bottom-colors: rgb(170,188,207);
				-moz-border-right-colors: rgb(170,188,207);
				-moz-border-left-colors: rgb(170,188,207);
			}
		}
	}
	
	window[findbartweak-FF25] findbar[movetotop] {
		box-shadow: none;
	}
	
	/* FF25 Tweaks */
	window[noToolboxBorder] #navigator-toolbox:after,
	window[findbartweak-FF25Tweaks] #navigator-toolbox:after {
		display: none;
	}
	
	window[findbartweak-FF25Tweaks]:not([disablechrome="true"]) #browser > *:not([renderabove]):not([noTopBorder]):not(.omnisidebar_switch) {
		border-top: 1px solid ThreeDShadow;
	}
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			window[findbartweak-FF25Tweaks]:not([disablechrome="true"]) #browser > *:not([renderabove]):not([noTopBorder]):not(.omnisidebar_switch) {
				border-top: 1px solid rgb(170,188,207);
			}
		}
	}
	
	/* For the toolbar button */
	#navigator-toolbox[iconsize=large][mode=icons] > :not(#TabsToolbar) > #findbartweak-button > .toolbarbutton-icon { padding: 2px 6px; }
	
	/* Textbox resizers */
	window:not([findbartweak-FF25]) findbar .findbar-textbox {
		min-width: 127px;
	}
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			window:not([findbartweak-FF25]) findbar .findbar-textbox {
				min-width: 120px;
			}
		}
	}
	
	window[findbartweak-FF25] findbar .findbar-textbox {
		min-width: 14em;
	}
	
	findbar .find-textbox-resizer {
		width: 4px;
		height: calc(1.2em + 5px); /* I think this faithfully represents font-height plus box-padding, thus should work with OS font zoom */
	}
	
	window:not([findbartweak-FF25]) findbar resizer[anonid="find-left-resizer"] {
		-moz-margin-end: -7px;
		-moz-margin-start: 3px;
	}
	window:not([findbartweak-FF25]) findbar resizer[anonid="find-right-resizer"] {
		-moz-margin-start: -7px;
		-moz-margin-end: 3px;
	}
	
	window[findbartweak-FF25] findbar resizer[anonid="find-left-resizer"] {
		-moz-margin-end: -3px;
		-moz-margin-start: -1px;
	}
	window[findbartweak-FF25] findbar resizer[anonid="find-right-resizer"] {
		-moz-margin-start: -3px;
		-moz-margin-end: -1px;
	}
	
	/* Grid button spacers heights, these don't take into account OS zoom settings! */
	vbox[anonid="findGrid"]:not([gridSpacers="none"]) vbox.topSpacer[flex="0"],
	vbox[anonid="findGrid"][gridSpacers="single"] vbox.bottomSpacer[flex="0"] {
		height: 17px;
	}
	vbox[anonid="findGrid"][gridSpacers="double"] vbox.bottomSpacer[flex="0"] {
		height: 34px;
	}
	
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			vbox[anonid="findGrid"]:not([gridSpacers="none"]) vbox.topSpacer[flex="0"],
			vbox[anonid="findGrid"][gridSpacers="single"] vbox.bottomSpacer[flex="0"] {
				height: 18px;
			}
			vbox[anonid="findGrid"][gridSpacers="double"] vbox.bottomSpacer[flex="0"] {
				height: 36px;
			}
		}
	}
	
	/* Find in Tabs */
	#findbartweak-findInTabs-box[movetotop]:not(:-moz-lwtheme) {
		background-color: -moz-dialog;
	}
	
	window:not([findbartweak-FF25Tweaks]) #findbartweak-findInTabs-box[movetotop] {
		border-bottom: 1px solid ThreeDShadow;
	}
	
	@media not all and (-moz-windows-classic) {
		@media (-moz-windows-default-theme) {
			#findbartweak-findInTabs-box[movetotop]:not(:-moz-lwtheme) {
				background-color: rgb(219,234,249);
			}
			
			window:not([findbartweak-FF25Tweaks]) #findbartweak-findInTabs-box[movetotop] {
				border-bottom: 1px solid rgb(170,188,207);
			}
		}
	}
	
	window[sizemode="normal"] #findbartweak-findInTabs-box[movetotop]:not(:-moz-lwtheme) {
		border-left: 1px solid rgba(10%,10%,10%,.4);
		border-right: 1px solid rgba(10%,10%,10%,.4);
		background-clip: padding-box;
	}
	
	window[findbartweak-FF25] #findbartweak-findInTabs-box:not([movetotop]) {
		border-top: 2px solid transparent;
		-moz-border-top-colors: rgba(0,0,0,.15) rgba(255,255,255,.15);
	}
}
