@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

findbar.findInTabs-bar {
	-moz-padding-end: 8px;
	background-image: linear-gradient(rgba(255,255,255,.15) 1px, transparent);
	background-size: 100% 2px;
}

.findInTabs-bar textbox {
	border-radius: 2px;
}

#contentBox {
	background-color: -moz-dialog;
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {
		
		window:not([FITSidebar]) #contentBox {
			background-color: hsl(210,75%,92%);
		}
	}
}

/* FIT sidebar */

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {
		
		window[FITSidebar] #contentBox {
			background-color: #EEF3FA;
		}
	}
}
