@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Find in All Tabs */

findbar toolbarbutton[anonid="findbartweak-find-tabs"],
findbar toolbarbutton[anonid="findbartweak-find-tabs-goto"] {
	-moz-margin-start: 5px;
}

/* small findbar at the top */

findbar[movetotop]:not([inPDFJS]) {
	background-color: -moz-dialog;
	border-bottom: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDShadow;
	border-left: 1px solid ThreeDShadow;
	-moz-border-bottom-colors: ThreeDShadow;
	-moz-border-right-colors: ThreeDShadow;
	-moz-border-left-colors: ThreeDShadow;
}

findbar[movetotop]:not([inPDFJS]):-moz-lwtheme {
	-moz-border-bottom-colors: rgba(0,0,0,.3);
	-moz-border-right-colors: rgba(0,0,0,.3);
	-moz-border-left-colors: rgba(0,0,0,.3);
}

findbar[movetotop]:not([inPDFJS]):not([DevEdition]) .findbar-container {
	background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4));
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):not(:-moz-lwtheme) {
			background-color: hsl(210,75%,92%);
			-moz-border-bottom-colors: #aabccf;
			-moz-border-right-colors: #aabccf;
			-moz-border-left-colors: #aabccf;
		}
	}
}

findbar[movetotop] {
	box-shadow: none;
}

findbar[movetotop] .findbar-container {
	padding-top: 1px;
	padding-bottom: 1px;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-start: 4px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) > hbox.findbar-container,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) > hbox.findbar-container {
	-moz-padding-end: 8px;
	-moz-padding-start: 0;
}

findbar[movetotop]:not([movetoright]):-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop][movetoright]:-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-padding-end: 4px;
}

findbar[movetotop][movetoright]:-moz-locale-dir(ltr) .findbar-closebutton,
findbar[movetotop]:not([movetoright]):-moz-locale-dir(rtl) .findbar-closebutton {
	-moz-padding-start: 4px;
}

/* Rounded inner corners */

findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px ThreeDShadow,
	                7px -4px 0px -4px rgba(255,255,255,.4),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
	                -7px -4px 0px -4px rgba(255,255,255,.4),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:before,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:after {
	box-shadow: 	2px -2px 0 -2px rgba(0,0,0,.3),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:after,
findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:before {
	box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,.3),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

@media	(-moz-os-version: windows-xp),
	(-moz-os-version: windows-vista),
	(-moz-os-version: windows-win7) {

	findbar[movetotop]:not([inPDFJS]):not([DevEdition]) .findbar-container {
		background-image: none;
	}

	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
		box-shadow: 	2px -2px 0 -2px ThreeDShadow,
		                7px -4px 0px -4px -moz-dialog,
		                6px -4px 0px -4px -moz-dialog;
	}
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
	findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
		box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
		                -7px -4px 0px -4px -moz-dialog,
		                -6px -4px 0px -4px -moz-dialog;
	}
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):not(:-moz-lwtheme):before,
		window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):not(:-moz-lwtheme):after {
			box-shadow: 	2px -2px 0 -2px #aabccf,
			                7px -4px 0px -4px hsl(210,75%,92%),
			                6px -4px 0px -4px hsl(210,75%,92%);
		}
		window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):not(:-moz-lwtheme):after,
		window:not(#viewSource) findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):not(:-moz-lwtheme):before {
			box-shadow: 	-2px -2px 0 -2px #aabccf,
			                -7px -4px 0px -4px hsl(210,75%,92%),
			                -6px -4px 0px -4px hsl(210,75%,92%);
		}
	}
}

/* Using Beyond Australis, the bottom color of the slimmer isn't the same, so we (try to) apply the same style as the nav-bar */

#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):not([DevEdition]) .findbar-container {
	background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4));
}

#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
	box-shadow: 	2px -2px 0 -2px ThreeDShadow,
	                7px -4px 0px -4px rgba(255,255,255,0.4),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
	box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
	                -7px -4px 0px -4px rgba(255,255,255,0.4),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:before,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:after {
	box-shadow: 	2px -2px 0 -2px rgba(0,0,0,.3),
	                7px -4px 0px -4px rgba(254,254,254,0.2),
	                6px -4px 0px -4px rgba(254,254,254,0.2),
	                7px -4px 0px -4px -moz-dialog,
	                6px -4px 0px -4px -moz-dialog;
}
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):-moz-lwtheme:after,
#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):-moz-lwtheme:before {
	box-shadow: 	-2px -2px 0 -2px rgba(0,0,0,.3),
	                -7px -4px 0px -4px rgba(254,254,254,0.2),
	                -6px -4px 0px -4px rgba(254,254,254,0.2),
	                -7px -4px 0px -4px -moz-dialog,
	                -6px -4px 0px -4px -moz-dialog;
}

@media	(-moz-os-version: windows-xp),
	(-moz-os-version: windows-vista),
	(-moz-os-version: windows-win7) {

	#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):not([DevEdition]) .findbar-container {
		background-image: linear-gradient(rgba(255,255,255,.35), rgba(255,255,255,0));
	}

	#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):before,
	#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):after {
		box-shadow: 	2px -2px 0 -2px ThreeDShadow,
		                7px -4px 0px -4px -moz-dialog,
		                6px -4px 0px -4px -moz-dialog;
	}
	#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):after,
	#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):before {
		box-shadow: 	-2px -2px 0 -2px ThreeDShadow,
		                -7px -4px 0px -4px -moz-dialog,
		                -6px -4px 0px -4px -moz-dialog;
	}
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):not(:-moz-lwtheme):before,
		#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):not(:-moz-lwtheme):after {
			box-shadow: 	2px -2px 0 -2px #aabccf,
			                7px -4px 0px -4px rgba(254,254,254,0.2),
			                6px -4px 0px -4px rgba(254,254,254,0.2),
			                7px -4px 0px -4px hsl(210,75%,92%),
			                6px -4px 0px -4px hsl(210,75%,92%);
		}
		#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(ltr):not(:-moz-lwtheme):after,
		#navigator-toolbox[slimChromeNavBar] ~ #content-deck findbar[movetotop]:not([inPDFJS]):-moz-locale-dir(rtl):not(:-moz-lwtheme):before {
			box-shadow: 	-2px -2px 0 -2px #aabccf,
			                -7px -4px 0px -4px rgba(254,254,254,0.2),
			                -6px -4px 0px -4px rgba(254,254,254,0.2),
			                -7px -4px 0px -4px hsl(210,75%,92%),
			                -6px -4px 0px -4px hsl(210,75%,92%);
		}
	}
}

/* Textbox resizers */

findbar .findbar-textbox {
	min-width: 14em;
}

findbar .find-textbox-resizer {
	width: 4px;
	height: calc(1.2em + 5px); /* I think this faithfully represents font-height plus box-padding, thus should work with OS font zoom */
}

findbar resizer[anonid="find-left-resizer"] {
	-moz-margin-end: -3px;
	-moz-margin-start: -1px;
}

findbar resizer[anonid="find-right-resizer"] {
	-moz-margin-start: -3px;
	-moz-margin-end: -1px;
}
