/* Grid button spacers heights for frame grids, these don't take into account OS zoom settings! */
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"]:not([gridSpacers="none"]) div.topSpacer[flex="0"],
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"][gridSpacers="single"] div.bottomSpacer[flex="0"] {
	min-height: 17px;
}
div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"][gridSpacers="double"] div.bottomSpacer[flex="0"] {
	min-height: 34px;
}

@media not all and (-moz-windows-classic) {
	@media (-moz-windows-default-theme) {
		div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"]:not([gridSpacers="none"]) div.topSpacer[flex="0"],
		div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"][gridSpacers="single"] div.bottomSpacer[flex="0"] {
			min-height: 18px;
		}
		div[ownedbyfindbartweak][anonid="gridBox"] div[anonid="findGrid"][gridSpacers="double"] div.bottomSpacer[flex="0"] {
			min-height: 36px;
		}
	}
}
