/* The :hover's trigger the effect, kind of a "just in case" thing where the transparency may not be done on page load, it happens sometimes */
html.gridInScrollbar > scrollbar[orient="vertical"],
html.gridInScrollbar > scrollbar[orient="vertical"]:hover { 
	-moz-appearance: none !important; 
	background: none !important;
}
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"] thumb,
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"]:hover thumb { 
	opacity: 0.9 !important; 
}
html.gridInScrollbar.gridNasanightlaunch > scrollbar[orient="vertical"] thumb,
html.gridInScrollbar.gridNasanightlaunch > scrollbar[orient="vertical"]:hover thumb { 
	opacity: 0.75 !important; 
}

html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"] thumb, 
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"] scrollbarbutton { 
	-moz-border-right-colors: ThreeDDarkShadow rgba(0,0,0,0); 
	-moz-border-left-colors: ThreeDLightShadow rgba(0,0,0,0); 
}
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"] scrollbarbutton:hover:active, 
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"] scrollbarbutton[active="true"], 
html.gridInScrollbar:not(.gridNasanightlaunch) > scrollbar[orient="vertical"]:hover scrollbarbutton { 
	-moz-border-right-colors: ThreeDShadow -moz-Dialog; 
	-moz-border-left-colors: ThreeDShadow -moz-Dialog; 
}